 {% extends 'Transport/base_visitor1.html' %}
 {% block title %}Booking{% endblock %}
 {% block login_active %}active{% endblock %}
 {% block body %}
 <div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Book your Cab</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'Transport:index'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_startpoint">
                                Startpoint:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_startpoint" maxlength="50" name="startpoint" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_destination">
                                Destination:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_destination" maxlength="50" name="destination" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="id_date">
                                Date:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_date" maxlength="50" name="date" type="text">
                            </div>
                            </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
